.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.grid > div {
    padding: 1em;
    background-color: pink;
}
.grid > div:nth-child(3n+2) {
    background: white;
}

#canvas {
    grid-template-columns: repeat(4, 1fr); 
}