body {
    text-align: center;
}
.grid {
    display: grid;
}
.grid > * {
    padding: 1em;
    background-color: pink;
}
#main {
    grid-template-columns: 1fr 2fr 1fr;
}
#content {
    grid-auto-rows: 1fr 2fr 1fr;
} 
.grid header {
    background-color: grey;
}
#canvas {
    height: 400px;
    grid-auto-rows: repeat(16, 1fr);
    grid-auto-columns: repeat(16, 1fr);
}
.canvas-box {
    background-color: white;
}
.grid footer {
    background-color: white;
}
